
    body {
      margin: 15;
      padding: 0;
      font-family: Arial, sans-serif;
      background: #e0d7d7;
    }

    .app-container {
      width: 100%;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    .card {
      background:white;
      border-radius: 50px;
      padding: 30px;
      max-width: 850px;
      width: 100%;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
    }

    h1 {
      font-size: 45px;
       font-family: 'Times New Roman', Times, serif;
      text-align: center;
      background: linear-gradient(135deg,#062bcf,#613291);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group input {
      width: 100%;
      padding: 12px;
      border-radius: 8px;
      border: 2px solid #010000;
    }

    .btn-primary {
      width: 100%;
      padding: 12px;
      background: #08a833;
      color: rgb(31, 39, 138);
      border: black;
      border-radius: 13px;
      cursor: pointer;
      font-size: 16px;
    }

    .candidates-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
      gap: 15px;
    }

    .candidate-card {
      background: #b086b4;
      padding: 15px;
      text-align: center;
      border: 2px solid #100000;
      border-radius: 10px;
      cursor: pointer;
    }

    .candidate-card.selected {
      border-color: #033663;
      background: #2b39a1;
    }

    .success {
      text-align: center;
      padding: 30px;
        background: #a8a19a;
    }

    .error-message {
      color: red;
      padding: 10px;
      background: #fee;
      border-left: 4px solid #c33;
      display: none;
    }

